@page
@model Index
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">VueJs examples</h1>
    <p></p>
    <p>
        There is non-compiled vue2 example on <a href="/vue2">/vue2</a>
    </p>
    <p>
        There is non-compiled vue3 example on <a href="/vue3">/vue3</a>
    </p>
</div>
